* {box-sizing: border-box}
body {background: url(fond.jpg) no-repeat center fixed rgb(18,18,18); color: #def}

th {border: 1px solid #dd8}

.pair {background: #123) ;color: #df9;
border-bottom: 1px solid #df9}
.impair {background : #321; color: #fd9;
border-bottom: 1px solid #fd9}