* {box-sizing: border-box}
body {background: url(fond.jpg) no-repeat center fixed rgb(18,18,18); color: #9f9}

th {border: 1px solid #dd8}

.pair {background: rgb(41,86,65) ;color: #df9;
border-bottom: 1px solid #df9}
.impair {color: #fd9;
border-bottom: 1px solid #fd9}